// screen sizes
$mobile-size: 20rem;
$tablet-size: 48rem;
$desktop-size: 64rem;

// colors
$primary: #2196F3;
$dark: #263238;
$neutral: #CFD8DC;
$light: #ECEFF1;

$error: #F44336;

$text-primary: #263238;
$text-secondary: #607D8B;
$text-light: #FFFFFF;

$radius: 1.25rem;
$font-stack: 'Titillium Web', sans-serif;