@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/animations" as *;

.prompt-form {
  @include flex-display(column);
  margin-bottom: 2rem;

  &__label {
    text-transform: uppercase;
    @include font-style(0.75rem, 600, 0.5rem)
  }

  &__textarea {
    outline: none;
    border: 1px solid $neutral;
    border-radius: $radius;
    resize: none;
    height: 6rem;
    padding: 1rem;
    font-family: $font-stack;
    @include font-style(0.75rem, $color: $text-primary);
    line-height: 120%;

    &::placeholder {
      @include font-style(0.75rem, $color: $text-secondary);
    }

    &:focus {
      border: 2px solid $primary;
    }

    &--error, &--error:focus {
      border: 2px solid $error;
    }
  }

  &__error-msg {
    @include font-style(0.75rem, $color: $error);
    margin-top: 0.25rem;
  }

  &__button {
    margin-top: 0.75rem;
    outline: none;
    border: none;
    border-radius: $radius;
    height: 2.5rem;
    min-width: 6rem;
    background-color: $primary;
    font-family: $font-stack;
    text-transform: uppercase;
    @include font-style(0.75rem, 600, $color: $text-light);

    @include tablet {
      align-self: flex-end;
    }

    &:hover, &:focus {
      background-color: $dark;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__spinner {
    animation: spin 1s infinite linear;
  }
}



